---
import CoverPage from './CoverPage.astro'
import IntroductionPage from './IntroductionPage.astro'
import EncounterDoc from './EncounterDoc.astro'
---

<div id="container">
  <main>
    <CoverPage/>
    <IntroductionPage/>
    <EncounterDoc/>
  </main>
</div>
